:host {
    display: flex;
    flex: 1;
    height: 100%;
    overflow-y: auto;
}

.dashboard-container {
    display: flex;
    flex-grow: 1;
    flex-direction: column;    
    overflow-y: auto;

    .widget-header {
        display: flex;
        margin: 1rem;
        padding: 2rem;
        border: 1px solid var(--border-color);
        align-items: center;
        gap: 1rem;
    }

    .nuke-timers {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 1rem;
        padding: 2rem;
        border: 1px solid var(--border-color);
        align-items: center;
        gap: 1rem;
    }
}

.theme-button {
    position: absolute;
    bottom: 10px;
    left: 5px;
}