<div class="dashboard-container">
    <div class="widget-header">
        <app-nuke-counter></app-nuke-counter>
    </div>
    <div class="nuke-timers">
        <app-timer [timerType]="TimerType.NUKE" timerName="Silo A" [silo]="NukeSilo.SILO_A"></app-timer>
        <app-timer [timerType]="TimerType.NUKE" timerName="Silo B" [silo]="NukeSilo.SILO_B"></app-timer>
        <app-timer [timerType]="TimerType.NUKE" timerName="Silo C" [silo]="NukeSilo.SILO_C"></app-timer>
    </div>
    
    <!-- <p-button 
        class='theme-button' 
        [icon]="'pi ' + (this.themeService.getTheme() === Theme.DARK ? 'pi-moon' : 'pi-sun')" 
        [rounded]="true"
        pTooltip="Change Theme"
        (onClick)="this.themeService.switchTheme()"
        >
    </p-button> -->
</div>
<app-add-nuke-dialog></app-add-nuke-dialog>
