<div class="header-container">
    <p-tabMenu [model]="items">
        <!-- <ng-template pTemplate="item" let-item>
            <ng-container *ngIf="item.route; else elseBlock">
                <a [routerLink]="item.route" routerLinkActive="active" class="p-menuitem-link header-tab">
                    <span [class]="item.icon"></span>
                    <span class="ml-2">
                        {{ item.label }}
                    </span>
                </a>
            </ng-container>
            <ng-template #elseBlock>
                <a [href]="item.url" class="p-menuitem-link header-tab">
                    <span [class]="item.icon"></span>
                    <span class="ml-2">
                        {{ item.label }}
                    </span>
                </a>
            </ng-template>
        </ng-template> -->
    </p-tabMenu>
    <div class="header-buttons">
        <p-inputSwitch [(ngModel)]="this.usingTestDB" />
        <p-button 
            class='theme-button' 
            [icon]="'pi ' + (this.themeService.getTheme() === Theme.DARK ? 'pi-moon' : 'pi-sun')" 
            [rounded]="true"
            pTooltip="Change Theme"
            (onClick)="this.themeService.switchTheme()"
        >
        </p-button>
    </div>
</div>
